MyGlobal/App_WebReferences/eStoreOrderWSV2/eStoreWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="generateSAPCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generateSAPCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generateSAPCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="generateSAPCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:generateSAPCustomer" />
  </wsdl:message>
  <wsdl:message name="generateSAPCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:generateSAPCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="eStoreWebServiceSoap">
    <wsdl:operation name="generateSAPCustomer">
      <wsdl:input message="tns:generateSAPCustomerSoapIn" />
      <wsdl:output message="tns:generateSAPCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eStoreWebServiceSoap" type="tns:eStoreWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateSAPCustomer">
      <soap:operation soapAction="http://tempuri.org/generateSAPCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eStoreWebServiceSoap12" type="tns:eStoreWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateSAPCustomer">
      <soap12:operation soapAction="http://tempuri.org/generateSAPCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eStoreWebService">
    <wsdl:port name="eStoreWebServiceSoap" binding="tns:eStoreWebServiceSoap">
      <soap:address location="http://buydev.advantech.com:8888/eStoreWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="eStoreWebServiceSoap12" binding="tns:eStoreWebServiceSoap12">
      <soap12:address location="http://buydev.advantech.com:8888/eStoreWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>