MyGlobal/App_WebReferences/eQuoteAndGP/gp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InitApprovalFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ROWID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detail" type="tns:ArrayOfStruct_GP_Detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_GP_Detail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="struct_GP_Detail" type="tns:struct_GP_Detail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="struct_GP_Detail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lineNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Itp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QTY" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitApprovalFlowResponse">
        <s:complexType />
      </s:element>
      <s:element name="isApproved">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isApprovedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isApprovedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isRejected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isRejectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isRejectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isInApproved">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isInApprovedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isInApprovedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detail" type="tns:ArrayOfStruct_GP_Detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getLevelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="erpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isRepeatedOrder" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Detail" type="tns:ArrayOfStruct_Quote_Detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Quote_Detail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="struct_Quote_Detail" type="tns:struct_Quote_Detail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="struct_Quote_Detail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="quoteId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lineNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="partNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="listPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="unitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="newUnitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="itp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="newItp" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="deliveryPlant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="classABC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="rohs" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ewFlag" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="reqDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="satisfyFlag" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="canBeConfirmed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="custMaterial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="inventory" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="oType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="modelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPRNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="toQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toQuotationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuotationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuotationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuotationDetailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quoteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuotationDetailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLevelandAppoverList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GPLevel_and_Approver">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLevelandAppoverListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLevelandAppoverListResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GPLevel_and_Approver">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitApprovalFlowSoapIn">
    <wsdl:part name="parameters" element="tns:InitApprovalFlow" />
  </wsdl:message>
  <wsdl:message name="InitApprovalFlowSoapOut">
    <wsdl:part name="parameters" element="tns:InitApprovalFlowResponse" />
  </wsdl:message>
  <wsdl:message name="isApprovedSoapIn">
    <wsdl:part name="parameters" element="tns:isApproved" />
  </wsdl:message>
  <wsdl:message name="isApprovedSoapOut">
    <wsdl:part name="parameters" element="tns:isApprovedResponse" />
  </wsdl:message>
  <wsdl:message name="isRejectedSoapIn">
    <wsdl:part name="parameters" element="tns:isRejected" />
  </wsdl:message>
  <wsdl:message name="isRejectedSoapOut">
    <wsdl:part name="parameters" element="tns:isRejectedResponse" />
  </wsdl:message>
  <wsdl:message name="isInApprovedSoapIn">
    <wsdl:part name="parameters" element="tns:isInApproved" />
  </wsdl:message>
  <wsdl:message name="isInApprovedSoapOut">
    <wsdl:part name="parameters" element="tns:isInApprovedResponse" />
  </wsdl:message>
  <wsdl:message name="getLevelSoapIn">
    <wsdl:part name="parameters" element="tns:getLevel" />
  </wsdl:message>
  <wsdl:message name="getLevelSoapOut">
    <wsdl:part name="parameters" element="tns:getLevelResponse" />
  </wsdl:message>
  <wsdl:message name="toQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:toQuotation" />
  </wsdl:message>
  <wsdl:message name="toQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:toQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="getQuotationListSoapIn">
    <wsdl:part name="parameters" element="tns:getQuotationList" />
  </wsdl:message>
  <wsdl:message name="getQuotationListSoapOut">
    <wsdl:part name="parameters" element="tns:getQuotationListResponse" />
  </wsdl:message>
  <wsdl:message name="getQuotationDetailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getQuotationDetailById" />
  </wsdl:message>
  <wsdl:message name="getQuotationDetailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getQuotationDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getLevelandAppoverListSoapIn">
    <wsdl:part name="parameters" element="tns:getLevelandAppoverList" />
  </wsdl:message>
  <wsdl:message name="getLevelandAppoverListSoapOut">
    <wsdl:part name="parameters" element="tns:getLevelandAppoverListResponse" />
  </wsdl:message>
  <wsdl:portType name="GPSoap">
    <wsdl:operation name="InitApprovalFlow">
      <wsdl:input message="tns:InitApprovalFlowSoapIn" />
      <wsdl:output message="tns:InitApprovalFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isApproved">
      <wsdl:input message="tns:isApprovedSoapIn" />
      <wsdl:output message="tns:isApprovedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isRejected">
      <wsdl:input message="tns:isRejectedSoapIn" />
      <wsdl:output message="tns:isRejectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isInApproved">
      <wsdl:input message="tns:isInApprovedSoapIn" />
      <wsdl:output message="tns:isInApprovedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLevel">
      <wsdl:input message="tns:getLevelSoapIn" />
      <wsdl:output message="tns:getLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="toQuotation">
      <wsdl:input message="tns:toQuotationSoapIn" />
      <wsdl:output message="tns:toQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuotationList">
      <wsdl:input message="tns:getQuotationListSoapIn" />
      <wsdl:output message="tns:getQuotationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuotationDetailById">
      <wsdl:input message="tns:getQuotationDetailByIdSoapIn" />
      <wsdl:output message="tns:getQuotationDetailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLevelandAppoverList">
      <wsdl:input message="tns:getLevelandAppoverListSoapIn" />
      <wsdl:output message="tns:getLevelandAppoverListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GPSoap" type="tns:GPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitApprovalFlow">
      <soap:operation soapAction="http://tempuri.org/InitApprovalFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isApproved">
      <soap:operation soapAction="http://tempuri.org/isApproved" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRejected">
      <soap:operation soapAction="http://tempuri.org/isRejected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isInApproved">
      <soap:operation soapAction="http://tempuri.org/isInApproved" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLevel">
      <soap:operation soapAction="http://tempuri.org/getLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toQuotation">
      <soap:operation soapAction="http://tempuri.org/toQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotationList">
      <soap:operation soapAction="http://tempuri.org/getQuotationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotationDetailById">
      <soap:operation soapAction="http://tempuri.org/getQuotationDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLevelandAppoverList">
      <soap:operation soapAction="http://tempuri.org/getLevelandAppoverList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GPSoap12" type="tns:GPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitApprovalFlow">
      <soap12:operation soapAction="http://tempuri.org/InitApprovalFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isApproved">
      <soap12:operation soapAction="http://tempuri.org/isApproved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRejected">
      <soap12:operation soapAction="http://tempuri.org/isRejected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isInApproved">
      <soap12:operation soapAction="http://tempuri.org/isInApproved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLevel">
      <soap12:operation soapAction="http://tempuri.org/getLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toQuotation">
      <soap12:operation soapAction="http://tempuri.org/toQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotationList">
      <soap12:operation soapAction="http://tempuri.org/getQuotationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotationDetailById">
      <soap12:operation soapAction="http://tempuri.org/getQuotationDetailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLevelandAppoverList">
      <soap12:operation soapAction="http://tempuri.org/getLevelandAppoverList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GP">
    <wsdl:port name="GPSoap" binding="tns:GPSoap">
      <soap:address location="http://172.20.1.30:5001/services/gp.asmx" />
    </wsdl:port>
    <wsdl:port name="GPSoap12" binding="tns:GPSoap12">
      <soap12:address location="http://172.20.1.30:5001/services/gp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>