MyGlobal/App_WebReferences/CorpAdminWS/AdminWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://admin.advantech.com.tw/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.advantech.com.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://admin.advantech.com.tw/">
      <s:element name="Get_EDM_Source_File_By_CMD_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cmsid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_EDM_Source_File_By_CMD_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_EDM_Source_File_By_CMD_IDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_EDM_Source_File_By_CMD_IDSoapIn">
    <wsdl:part name="parameters" element="tns:Get_EDM_Source_File_By_CMD_ID" />
  </wsdl:message>
  <wsdl:message name="Get_EDM_Source_File_By_CMD_IDSoapOut">
    <wsdl:part name="parameters" element="tns:Get_EDM_Source_File_By_CMD_IDResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminWebServiceSoap">
    <wsdl:operation name="Get_EDM_Source_File_By_CMD_ID">
      <wsdl:input message="tns:Get_EDM_Source_File_By_CMD_IDSoapIn" />
      <wsdl:output message="tns:Get_EDM_Source_File_By_CMD_IDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminWebServiceSoap" type="tns:AdminWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_EDM_Source_File_By_CMD_ID">
      <soap:operation soapAction="http://admin.advantech.com.tw/Get_EDM_Source_File_By_CMD_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminWebServiceSoap12" type="tns:AdminWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_EDM_Source_File_By_CMD_ID">
      <soap12:operation soapAction="http://admin.advantech.com.tw/Get_EDM_Source_File_By_CMD_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminWebService">
    <wsdl:port name="AdminWebServiceSoap" binding="tns:AdminWebServiceSoap">
      <soap:address location="http://admin.advantech.com.tw/ws/AdminWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminWebServiceSoap12" binding="tns:AdminWebServiceSoap12">
      <soap12:address location="http://admin.advantech.com.tw/ws/AdminWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>