MyGlobal/App_WebReferences/eQ25WS/eQ25WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAEUTemplateHtml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TempID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAEUTemplateHtmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAEUTemplateHtmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAEUTemplateHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetAEUTemplateHtml" />
  </wsdl:message>
  <wsdl:message name="GetAEUTemplateHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetAEUTemplateHtmlResponse" />
  </wsdl:message>
  <wsdl:portType name="eQ25WSSoap">
    <wsdl:operation name="GetAEUTemplateHtml">
      <wsdl:input message="tns:GetAEUTemplateHtmlSoapIn" />
      <wsdl:output message="tns:GetAEUTemplateHtmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eQ25WSSoap" type="tns:eQ25WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAEUTemplateHtml">
      <soap:operation soapAction="http://tempuri.org/GetAEUTemplateHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eQ25WSSoap12" type="tns:eQ25WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAEUTemplateHtml">
      <soap12:operation soapAction="http://tempuri.org/GetAEUTemplateHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eQ25WS">
    <wsdl:port name="eQ25WSSoap" binding="tns:eQ25WSSoap">
      <soap:address location="http://eq.advantech.com:8300/Services/eQ25WS.asmx" />
    </wsdl:port>
    <wsdl:port name="eQ25WSSoap12" binding="tns:eQ25WSSoap12">
      <soap12:address location="http://eq.advantech.com:8300/Services/eQ25WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>