MyGlobal/App_WebReferences/aclecampaign/EC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="eBizAEU" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="eBizAEU" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="eBizAEU">
      <s:element name="HandleQRCampaignURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CP" type="tns:ClientProperties" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientProperties">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Browser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Languages" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMobile" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="mDeviceMf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mDeviceModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrowserPlatform" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HandleQRCampaignURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HandleQRCampaignURLResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CP" type="tns:ClientProperties" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlcmd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectSAPResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregEDM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnregEDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnregEDMResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInvalidEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInvalidEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddInvalidEmailWithReason">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInvalidEmailWithReasonResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCampaignImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignLink2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignLink2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignLink2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniqueIdToEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniqueIdToEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniqueIdToEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactOpenedCampaignEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactOpenedCampaignEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactOpenedCampaignEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactOpenedCampaignEmail2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactOpenedCampaignEmail2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactOpenedCampaignEmail2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignContactsInRandomOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignContactsInRandomOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignContactsInRandomOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCampaignEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCampaignEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendCampaignEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForwardCampaignEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaign_row_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForwardCampaignEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ForwardCampaignEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsBodyHtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContact2Campaign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="camprowid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContact2CampaignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddContact2CampaignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyEDM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyEDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyEDMResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Display" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountRowID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactRowID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Org" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSiebelActivityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncInvalidEmail">
        <s:complexType />
      </s:element>
      <s:element name="SyncInvalidEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="Show">
        <s:complexType />
      </s:element>
      <s:element name="ShowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEDMContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEDMContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEDMContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyContactEDM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyContactEDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyContactEDMResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignSourceLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampaignSourceLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCampaignSourceLinkResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInvalidEmailReason">
        <s:complexType />
      </s:element>
      <s:element name="UpdateInvalidEmailReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateInvalidEmailReasonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCampaignStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RowId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="is_succeed" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCampaignStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateCampaign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="campaignName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PlannedSendDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RBU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCampaignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCampaignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenarateECard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="row_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="imageWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="imageHeight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenarateECardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenarateECardResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEDMFromAmazon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="by" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEDMFromAmazonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEDMFromAmazonResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HandleQRCampaignURLSoapIn">
    <wsdl:part name="parameters" element="tns:HandleQRCampaignURL" />
  </wsdl:message>
  <wsdl:message name="HandleQRCampaignURLSoapOut">
    <wsdl:part name="parameters" element="tns:HandleQRCampaignURLResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSAPSoapIn">
    <wsdl:part name="parameters" element="tns:SelectSAP" />
  </wsdl:message>
  <wsdl:message name="SelectSAPSoapOut">
    <wsdl:part name="parameters" element="tns:SelectSAPResponse" />
  </wsdl:message>
  <wsdl:message name="UnregEDMSoapIn">
    <wsdl:part name="parameters" element="tns:UnregEDM" />
  </wsdl:message>
  <wsdl:message name="UnregEDMSoapOut">
    <wsdl:part name="parameters" element="tns:UnregEDMResponse" />
  </wsdl:message>
  <wsdl:message name="AddInvalidEmailSoapIn">
    <wsdl:part name="parameters" element="tns:AddInvalidEmail" />
  </wsdl:message>
  <wsdl:message name="AddInvalidEmailSoapOut">
    <wsdl:part name="parameters" element="tns:AddInvalidEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AddInvalidEmailWithReasonSoapIn">
    <wsdl:part name="parameters" element="tns:AddInvalidEmailWithReason" />
  </wsdl:message>
  <wsdl:message name="AddInvalidEmailWithReasonSoapOut">
    <wsdl:part name="parameters" element="tns:AddInvalidEmailWithReasonResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignImage" />
  </wsdl:message>
  <wsdl:message name="GetCampaignImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignLink" />
  </wsdl:message>
  <wsdl:message name="GetCampaignLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignLink2SoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignLink2" />
  </wsdl:message>
  <wsdl:message name="GetCampaignLink2SoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignLink2Response" />
  </wsdl:message>
  <wsdl:message name="UniqueIdToEmailSoapIn">
    <wsdl:part name="parameters" element="tns:UniqueIdToEmail" />
  </wsdl:message>
  <wsdl:message name="UniqueIdToEmailSoapOut">
    <wsdl:part name="parameters" element="tns:UniqueIdToEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ContactOpenedCampaignEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ContactOpenedCampaignEmail" />
  </wsdl:message>
  <wsdl:message name="ContactOpenedCampaignEmailSoapOut">
    <wsdl:part name="parameters" element="tns:ContactOpenedCampaignEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ContactOpenedCampaignEmail2SoapIn">
    <wsdl:part name="parameters" element="tns:ContactOpenedCampaignEmail2" />
  </wsdl:message>
  <wsdl:message name="ContactOpenedCampaignEmail2SoapOut">
    <wsdl:part name="parameters" element="tns:ContactOpenedCampaignEmail2Response" />
  </wsdl:message>
  <wsdl:message name="GetCampaignContactsInRandomOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignContactsInRandomOrder" />
  </wsdl:message>
  <wsdl:message name="GetCampaignContactsInRandomOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignContactsInRandomOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SendCampaignEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendCampaignEmail" />
  </wsdl:message>
  <wsdl:message name="SendCampaignEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendCampaignEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ForwardCampaignEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ForwardCampaignEmail" />
  </wsdl:message>
  <wsdl:message name="ForwardCampaignEmailSoapOut">
    <wsdl:part name="parameters" element="tns:ForwardCampaignEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AddContact2CampaignSoapIn">
    <wsdl:part name="parameters" element="tns:AddContact2Campaign" />
  </wsdl:message>
  <wsdl:message name="AddContact2CampaignSoapOut">
    <wsdl:part name="parameters" element="tns:AddContact2CampaignResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyEDMSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyEDM" />
  </wsdl:message>
  <wsdl:message name="GetMyEDMSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyEDMResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivitySoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivity" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivitySoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivityResponse" />
  </wsdl:message>
  <wsdl:message name="SyncInvalidEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SyncInvalidEmail" />
  </wsdl:message>
  <wsdl:message name="SyncInvalidEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SyncInvalidEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ShowSoapIn">
    <wsdl:part name="parameters" element="tns:Show" />
  </wsdl:message>
  <wsdl:message name="ShowSoapOut">
    <wsdl:part name="parameters" element="tns:ShowResponse" />
  </wsdl:message>
  <wsdl:message name="GetEDMContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetEDMContent" />
  </wsdl:message>
  <wsdl:message name="GetEDMContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetEDMContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyContactEDMSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyContactEDM" />
  </wsdl:message>
  <wsdl:message name="GetMyContactEDMSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyContactEDMResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignSourceLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampaignSourceLink" />
  </wsdl:message>
  <wsdl:message name="GetCampaignSourceLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampaignSourceLinkResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInvalidEmailReasonSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInvalidEmailReason" />
  </wsdl:message>
  <wsdl:message name="UpdateInvalidEmailReasonSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInvalidEmailReasonResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCampaignStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCampaignStatus" />
  </wsdl:message>
  <wsdl:message name="CheckCampaignStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCampaignStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCampaignSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCampaign" />
  </wsdl:message>
  <wsdl:message name="CreateCampaignSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="GenarateECardSoapIn">
    <wsdl:part name="parameters" element="tns:GenarateECard" />
  </wsdl:message>
  <wsdl:message name="GenarateECardSoapOut">
    <wsdl:part name="parameters" element="tns:GenarateECardResponse" />
  </wsdl:message>
  <wsdl:message name="SendEDMFromAmazonSoapIn">
    <wsdl:part name="parameters" element="tns:SendEDMFromAmazon" />
  </wsdl:message>
  <wsdl:message name="SendEDMFromAmazonSoapOut">
    <wsdl:part name="parameters" element="tns:SendEDMFromAmazonResponse" />
  </wsdl:message>
  <wsdl:portType name="ECSoap">
    <wsdl:operation name="HandleQRCampaignURL">
      <wsdl:input message="tns:HandleQRCampaignURLSoapIn" />
      <wsdl:output message="tns:HandleQRCampaignURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSAP">
      <wsdl:input message="tns:SelectSAPSoapIn" />
      <wsdl:output message="tns:SelectSAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnregEDM">
      <wsdl:input message="tns:UnregEDMSoapIn" />
      <wsdl:output message="tns:UnregEDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmail">
      <wsdl:input message="tns:AddInvalidEmailSoapIn" />
      <wsdl:output message="tns:AddInvalidEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmailWithReason">
      <wsdl:input message="tns:AddInvalidEmailWithReasonSoapIn" />
      <wsdl:output message="tns:AddInvalidEmailWithReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignImage">
      <wsdl:input message="tns:GetCampaignImageSoapIn" />
      <wsdl:output message="tns:GetCampaignImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink">
      <wsdl:input message="tns:GetCampaignLinkSoapIn" />
      <wsdl:output message="tns:GetCampaignLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink2">
      <wsdl:input message="tns:GetCampaignLink2SoapIn" />
      <wsdl:output message="tns:GetCampaignLink2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniqueIdToEmail">
      <wsdl:input message="tns:UniqueIdToEmailSoapIn" />
      <wsdl:output message="tns:UniqueIdToEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail">
      <wsdl:input message="tns:ContactOpenedCampaignEmailSoapIn" />
      <wsdl:output message="tns:ContactOpenedCampaignEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail2">
      <wsdl:input message="tns:ContactOpenedCampaignEmail2SoapIn" />
      <wsdl:output message="tns:ContactOpenedCampaignEmail2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignContactsInRandomOrder">
      <wsdl:input message="tns:GetCampaignContactsInRandomOrderSoapIn" />
      <wsdl:output message="tns:GetCampaignContactsInRandomOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCampaignEmail">
      <wsdl:input message="tns:SendCampaignEmailSoapIn" />
      <wsdl:output message="tns:SendCampaignEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForwardCampaignEmail">
      <wsdl:input message="tns:ForwardCampaignEmailSoapIn" />
      <wsdl:output message="tns:ForwardCampaignEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddContact2Campaign">
      <wsdl:input message="tns:AddContact2CampaignSoapIn" />
      <wsdl:output message="tns:AddContact2CampaignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyEDM">
      <wsdl:input message="tns:GetMyEDMSoapIn" />
      <wsdl:output message="tns:GetMyEDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <wsdl:input message="tns:CreateSiebelActivitySoapIn" />
      <wsdl:output message="tns:CreateSiebelActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncInvalidEmail">
      <wsdl:input message="tns:SyncInvalidEmailSoapIn" />
      <wsdl:output message="tns:SyncInvalidEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Show">
      <wsdl:input message="tns:ShowSoapIn" />
      <wsdl:output message="tns:ShowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEDMContent">
      <wsdl:input message="tns:GetEDMContentSoapIn" />
      <wsdl:output message="tns:GetEDMContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyContactEDM">
      <wsdl:input message="tns:GetMyContactEDMSoapIn" />
      <wsdl:output message="tns:GetMyContactEDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignSourceLink">
      <wsdl:input message="tns:GetCampaignSourceLinkSoapIn" />
      <wsdl:output message="tns:GetCampaignSourceLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInvalidEmailReason">
      <wsdl:input message="tns:UpdateInvalidEmailReasonSoapIn" />
      <wsdl:output message="tns:UpdateInvalidEmailReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCampaignStatus">
      <wsdl:input message="tns:CheckCampaignStatusSoapIn" />
      <wsdl:output message="tns:CheckCampaignStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCampaign">
      <wsdl:input message="tns:CreateCampaignSoapIn" />
      <wsdl:output message="tns:CreateCampaignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenarateECard">
      <wsdl:input message="tns:GenarateECardSoapIn" />
      <wsdl:output message="tns:GenarateECardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEDMFromAmazon">
      <wsdl:input message="tns:SendEDMFromAmazonSoapIn" />
      <wsdl:output message="tns:SendEDMFromAmazonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECSoap" type="tns:ECSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleQRCampaignURL">
      <soap:operation soapAction="eBizAEU/HandleQRCampaignURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSAP">
      <soap:operation soapAction="eBizAEU/SelectSAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregEDM">
      <soap:operation soapAction="eBizAEU/UnregEDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmail">
      <soap:operation soapAction="eBizAEU/AddInvalidEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmailWithReason">
      <soap:operation soapAction="eBizAEU/AddInvalidEmailWithReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignImage">
      <soap:operation soapAction="eBizAEU/GetCampaignImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink">
      <soap:operation soapAction="eBizAEU/GetCampaignLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink2">
      <soap:operation soapAction="eBizAEU/GetCampaignLink2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniqueIdToEmail">
      <soap:operation soapAction="eBizAEU/UniqueIdToEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail">
      <soap:operation soapAction="eBizAEU/ContactOpenedCampaignEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail2">
      <soap:operation soapAction="eBizAEU/ContactOpenedCampaignEmail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignContactsInRandomOrder">
      <soap:operation soapAction="eBizAEU/GetCampaignContactsInRandomOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCampaignEmail">
      <soap:operation soapAction="eBizAEU/SendCampaignEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForwardCampaignEmail">
      <soap:operation soapAction="eBizAEU/ForwardCampaignEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="eBizAEU/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact2Campaign">
      <soap:operation soapAction="eBizAEU/AddContact2Campaign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyEDM">
      <soap:operation soapAction="eBizAEU/GetMyEDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <soap:operation soapAction="eBizAEU/CreateSiebelActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncInvalidEmail">
      <soap:operation soapAction="eBizAEU/SyncInvalidEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show">
      <soap:operation soapAction="eBizAEU/Show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEDMContent">
      <soap:operation soapAction="eBizAEU/GetEDMContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContactEDM">
      <soap:operation soapAction="eBizAEU/GetMyContactEDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignSourceLink">
      <soap:operation soapAction="eBizAEU/GetCampaignSourceLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInvalidEmailReason">
      <soap:operation soapAction="eBizAEU/UpdateInvalidEmailReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCampaignStatus">
      <soap:operation soapAction="eBizAEU/CheckCampaignStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCampaign">
      <soap:operation soapAction="eBizAEU/CreateCampaign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenarateECard">
      <soap:operation soapAction="eBizAEU/GenarateECard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEDMFromAmazon">
      <soap:operation soapAction="eBizAEU/SendEDMFromAmazon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ECSoap12" type="tns:ECSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleQRCampaignURL">
      <soap12:operation soapAction="eBizAEU/HandleQRCampaignURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSAP">
      <soap12:operation soapAction="eBizAEU/SelectSAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregEDM">
      <soap12:operation soapAction="eBizAEU/UnregEDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmail">
      <soap12:operation soapAction="eBizAEU/AddInvalidEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvalidEmailWithReason">
      <soap12:operation soapAction="eBizAEU/AddInvalidEmailWithReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignImage">
      <soap12:operation soapAction="eBizAEU/GetCampaignImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink">
      <soap12:operation soapAction="eBizAEU/GetCampaignLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignLink2">
      <soap12:operation soapAction="eBizAEU/GetCampaignLink2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniqueIdToEmail">
      <soap12:operation soapAction="eBizAEU/UniqueIdToEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail">
      <soap12:operation soapAction="eBizAEU/ContactOpenedCampaignEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactOpenedCampaignEmail2">
      <soap12:operation soapAction="eBizAEU/ContactOpenedCampaignEmail2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignContactsInRandomOrder">
      <soap12:operation soapAction="eBizAEU/GetCampaignContactsInRandomOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCampaignEmail">
      <soap12:operation soapAction="eBizAEU/SendCampaignEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForwardCampaignEmail">
      <soap12:operation soapAction="eBizAEU/ForwardCampaignEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="eBizAEU/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact2Campaign">
      <soap12:operation soapAction="eBizAEU/AddContact2Campaign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyEDM">
      <soap12:operation soapAction="eBizAEU/GetMyEDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <soap12:operation soapAction="eBizAEU/CreateSiebelActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncInvalidEmail">
      <soap12:operation soapAction="eBizAEU/SyncInvalidEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show">
      <soap12:operation soapAction="eBizAEU/Show" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEDMContent">
      <soap12:operation soapAction="eBizAEU/GetEDMContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyContactEDM">
      <soap12:operation soapAction="eBizAEU/GetMyContactEDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignSourceLink">
      <soap12:operation soapAction="eBizAEU/GetCampaignSourceLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInvalidEmailReason">
      <soap12:operation soapAction="eBizAEU/UpdateInvalidEmailReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCampaignStatus">
      <soap12:operation soapAction="eBizAEU/CheckCampaignStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCampaign">
      <soap12:operation soapAction="eBizAEU/CreateCampaign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenarateECard">
      <soap12:operation soapAction="eBizAEU/GenarateECard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEDMFromAmazon">
      <soap12:operation soapAction="eBizAEU/SendEDMFromAmazon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EC">
    <wsdl:port name="ECSoap" binding="tns:ECSoap">
      <soap:address location="http://172.20.1.21:7000/Services/EC.asmx" />
    </wsdl:port>
    <wsdl:port name="ECSoap12" binding="tns:ECSoap12">
      <soap12:address location="http://172.20.1.21:7000/Services/EC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>