MyGlobal/App_WebReferences/aeu_ebus_dev/Siebel_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="eBizAEU" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="eBizAEU" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="eBizAEU">
      <s:element name="CreateSiebelSR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrContactId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Abstract" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Function_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OWNER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Product_Model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelSRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSiebelSRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Type" type="tns:ActivityType" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Status" type="tns:ActivityStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Display" type="tns:ActivityDisplay" />
            <s:element minOccurs="0" maxOccurs="1" name="StrComments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strActivityDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrAccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrContactRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Error_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ActivityType">
        <s:restriction base="s:string">
          <s:enumeration value="Call_Inbound" />
          <s:enumeration value="Call_Outbound" />
          <s:enumeration value="Email_Inbound" />
          <s:enumeration value="Email_Outbound" />
          <s:enumeration value="Fax_Inbound" />
          <s:enumeration value="Fax_Outbound" />
          <s:enumeration value="Prepare_Quotation" />
          <s:enumeration value="OnSite_Service" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ActivityStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Assigned_To_Partner" />
          <s:enumeration value="Not_Started" />
          <s:enumeration value="In_Progess" />
          <s:enumeration value="On_Hold" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="Done" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ActivityDisplay">
        <s:restriction base="s:string">
          <s:enumeration value="Calendar_And_Activities" />
          <s:enumeration value="To_Do_And_Activities" />
          <s:enumeration value="Activities_Only" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateSiebelActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSiebelActivityResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Error_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelActivityNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Type" type="tns:ActivityType" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Status" type="tns:ActivityStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Display" type="tns:ActivityDisplay" />
            <s:element minOccurs="0" maxOccurs="1" name="StrComments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strActivityDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrAccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimaryOwner" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelActivityNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSiebelActivityNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSiebelActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActRowId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Status" type="tns:ActivityStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="Activity_Display" type="tns:ActivityDisplay" />
            <s:element minOccurs="0" maxOccurs="1" name="strActivityDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOwner" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSiebelActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSiebelActivityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSiebelActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActRowId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSiebelActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSiebelActivityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMainPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMainFax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountTeam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndustry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBAA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPartner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrganization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Error_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Error_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountBizGrp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizGrp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountBizGrpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountBizGrpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountInfoByMyAdvantechProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RBU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizGrp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParentAccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountInfoByMyAdvantechProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountInfoByMyAdvantechProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erp_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account_row_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getContactInfoBySiebelObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIEBELRAWID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CanSeeOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getContactInfoBySiebelObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getContactInfoBySiebelObjResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIEBELRAWID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CanSeeOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeENews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eNewsName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsSubscribe" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeENewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscribeENewsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeENews2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eNewsName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsSubscribe" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeENews2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscribeENews2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsSubscribe" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubscribeProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactInfoByMyAdvantechProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobFunction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NeverEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactInfoByMyAdvantechProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactInfoByMyAdvantechProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactJobTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactJobTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactJobTitleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contact_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account_row_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateContactResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizGrp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SalesMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SalesStage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriRevCloseDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Revenue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriRevWinProb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonWonLost" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOpportunityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunityStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunityStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOpportunityStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunityStatusRevenue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Revenue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOpportunityStatusRevenueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOpportunityStatusRevenueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Import_Opportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrganization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPrimaryPositionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPrimaryUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAccountSite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContactRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContactLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContactFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContactEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProjectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strChannel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBusinessGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSalesMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSalesStage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCloseDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRevenue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProbability" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProgram" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSupportRequest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCriticalSuccessFactor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReasonWonLost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLeadQuality" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Import_OpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Import_OpportunityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAccountRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strProjectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSalesStage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRevenue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReasonWonLost" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiebelOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSiebelOpportunityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSiebelOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptRowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSalesStage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRevenue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReasonWonLost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStatus" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSiebelOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSiebelOpportunityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSiebelOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptRowID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToACL" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSiebelOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSiebelOpportunityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuote">
        <s:complexType />
      </s:element>
      <s:element name="UpdateQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateQuoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSiebelSRSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiebelSR" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelSRSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiebelSRResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivitySoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivity" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivitySoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivityNewSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivityNew" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelActivityNewSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiebelActivityNewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSiebelActivitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSiebelActivity" />
  </wsdl:message>
  <wsdl:message name="UpdateSiebelActivitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSiebelActivityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSiebelActivitySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSiebelActivity" />
  </wsdl:message>
  <wsdl:message name="DeleteSiebelActivitySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSiebelActivityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountBizGrpSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccountBizGrp" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountBizGrpSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountBizGrpResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountInfoByMyAdvantechProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfoByMyAdvantechProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountInfoByMyAdvantechProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfoByMyAdvantechProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactInfo" />
  </wsdl:message>
  <wsdl:message name="GetContactInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getContactInfoBySiebelObjSoapIn">
    <wsdl:part name="parameters" element="tns:getContactInfoBySiebelObj" />
  </wsdl:message>
  <wsdl:message name="getContactInfoBySiebelObjSoapOut">
    <wsdl:part name="parameters" element="tns:getContactInfoBySiebelObjResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeENewsSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeENews" />
  </wsdl:message>
  <wsdl:message name="SubscribeENewsSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeENewsResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeENews2SoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeENews2" />
  </wsdl:message>
  <wsdl:message name="SubscribeENews2SoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeENews2Response" />
  </wsdl:message>
  <wsdl:message name="SubscribeProductSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeProduct" />
  </wsdl:message>
  <wsdl:message name="SubscribeProductSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeProductResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactInfoByMyAdvantechProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContactInfoByMyAdvantechProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateContactInfoByMyAdvantechProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactInfoByMyAdvantechProfileResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactJobTitleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContactJobTitle" />
  </wsdl:message>
  <wsdl:message name="UpdateContactJobTitleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactJobTitleResponse" />
  </wsdl:message>
  <wsdl:message name="CreateContactSoapIn">
    <wsdl:part name="parameters" element="tns:CreateContact" />
  </wsdl:message>
  <wsdl:message name="CreateContactSoapOut">
    <wsdl:part name="parameters" element="tns:CreateContactResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOpportunity" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunityStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunityStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunityStatusRevenueSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityStatusRevenue" />
  </wsdl:message>
  <wsdl:message name="UpdateOpportunityStatusRevenueSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityStatusRevenueResponse" />
  </wsdl:message>
  <wsdl:message name="Import_OpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:Import_Opportunity" />
  </wsdl:message>
  <wsdl:message name="Import_OpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:Import_OpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiebelOpportunity" />
  </wsdl:message>
  <wsdl:message name="CreateSiebelOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiebelOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSiebelOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSiebelOpportunity" />
  </wsdl:message>
  <wsdl:message name="UpdateSiebelOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSiebelOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSiebelOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSiebelOpportunity" />
  </wsdl:message>
  <wsdl:message name="DeleteSiebelOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSiebelOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuote" />
  </wsdl:message>
  <wsdl:message name="UpdateQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="Siebel_WSSoap">
    <wsdl:operation name="CreateSiebelSR">
      <wsdl:input message="tns:CreateSiebelSRSoapIn" />
      <wsdl:output message="tns:CreateSiebelSRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <wsdl:input message="tns:CreateSiebelActivitySoapIn" />
      <wsdl:output message="tns:CreateSiebelActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivityNew">
      <wsdl:input message="tns:CreateSiebelActivityNewSoapIn" />
      <wsdl:output message="tns:CreateSiebelActivityNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelActivity">
      <wsdl:input message="tns:UpdateSiebelActivitySoapIn" />
      <wsdl:output message="tns:UpdateSiebelActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelActivity">
      <wsdl:input message="tns:DeleteSiebelActivitySoapIn" />
      <wsdl:output message="tns:DeleteSiebelActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountBizGrp">
      <wsdl:input message="tns:UpdateAccountBizGrpSoapIn" />
      <wsdl:output message="tns:UpdateAccountBizGrpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfoByMyAdvantechProfile">
      <wsdl:input message="tns:UpdateAccountInfoByMyAdvantechProfileSoapIn" />
      <wsdl:output message="tns:UpdateAccountInfoByMyAdvantechProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input message="tns:GetAccountInfoSoapIn" />
      <wsdl:output message="tns:GetAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <wsdl:input message="tns:GetContactInfoSoapIn" />
      <wsdl:output message="tns:GetContactInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getContactInfoBySiebelObj">
      <wsdl:input message="tns:getContactInfoBySiebelObjSoapIn" />
      <wsdl:output message="tns:getContactInfoBySiebelObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews">
      <wsdl:input message="tns:SubscribeENewsSoapIn" />
      <wsdl:output message="tns:SubscribeENewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews2">
      <wsdl:input message="tns:SubscribeENews2SoapIn" />
      <wsdl:output message="tns:SubscribeENews2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeProduct">
      <wsdl:input message="tns:SubscribeProductSoapIn" />
      <wsdl:output message="tns:SubscribeProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactInfoByMyAdvantechProfile">
      <wsdl:input message="tns:UpdateContactInfoByMyAdvantechProfileSoapIn" />
      <wsdl:output message="tns:UpdateContactInfoByMyAdvantechProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactJobTitle">
      <wsdl:input message="tns:UpdateContactJobTitleSoapIn" />
      <wsdl:output message="tns:UpdateContactJobTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input message="tns:CreateContactSoapIn" />
      <wsdl:output message="tns:CreateContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunity">
      <wsdl:input message="tns:UpdateOpportunitySoapIn" />
      <wsdl:output message="tns:UpdateOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatus">
      <wsdl:input message="tns:UpdateOpportunityStatusSoapIn" />
      <wsdl:output message="tns:UpdateOpportunityStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatusRevenue">
      <wsdl:input message="tns:UpdateOpportunityStatusRevenueSoapIn" />
      <wsdl:output message="tns:UpdateOpportunityStatusRevenueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Import_Opportunity">
      <wsdl:input message="tns:Import_OpportunitySoapIn" />
      <wsdl:output message="tns:Import_OpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelOpportunity">
      <wsdl:input message="tns:CreateSiebelOpportunitySoapIn" />
      <wsdl:output message="tns:CreateSiebelOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelOpportunity">
      <wsdl:input message="tns:UpdateSiebelOpportunitySoapIn" />
      <wsdl:output message="tns:UpdateSiebelOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelOpportunity">
      <wsdl:input message="tns:DeleteSiebelOpportunitySoapIn" />
      <wsdl:output message="tns:DeleteSiebelOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuote">
      <wsdl:input message="tns:UpdateQuoteSoapIn" />
      <wsdl:output message="tns:UpdateQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Siebel_WSSoap" type="tns:Siebel_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSiebelSR">
      <soap:operation soapAction="eBizAEU/CreateSiebelSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <soap:operation soapAction="eBizAEU/CreateSiebelActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivityNew">
      <soap:operation soapAction="eBizAEU/CreateSiebelActivityNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelActivity">
      <soap:operation soapAction="eBizAEU/UpdateSiebelActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelActivity">
      <soap:operation soapAction="eBizAEU/DeleteSiebelActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="eBizAEU/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="eBizAEU/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountBizGrp">
      <soap:operation soapAction="eBizAEU/UpdateAccountBizGrp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfoByMyAdvantechProfile">
      <soap:operation soapAction="eBizAEU/UpdateAccountInfoByMyAdvantechProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="eBizAEU/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <soap:operation soapAction="eBizAEU/GetContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactInfoBySiebelObj">
      <soap:operation soapAction="eBizAEU/getContactInfoBySiebelObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews">
      <soap:operation soapAction="eBizAEU/SubscribeENews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews2">
      <soap:operation soapAction="eBizAEU/SubscribeENews2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeProduct">
      <soap:operation soapAction="eBizAEU/SubscribeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactInfoByMyAdvantechProfile">
      <soap:operation soapAction="eBizAEU/UpdateContactInfoByMyAdvantechProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactJobTitle">
      <soap:operation soapAction="eBizAEU/UpdateContactJobTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="eBizAEU/CreateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunity">
      <soap:operation soapAction="eBizAEU/UpdateOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatus">
      <soap:operation soapAction="eBizAEU/UpdateOpportunityStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatusRevenue">
      <soap:operation soapAction="eBizAEU/UpdateOpportunityStatusRevenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import_Opportunity">
      <soap:operation soapAction="eBizAEU/Import_Opportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelOpportunity">
      <soap:operation soapAction="eBizAEU/CreateSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelOpportunity">
      <soap:operation soapAction="eBizAEU/UpdateSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelOpportunity">
      <soap:operation soapAction="eBizAEU/DeleteSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuote">
      <soap:operation soapAction="eBizAEU/UpdateQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Siebel_WSSoap12" type="tns:Siebel_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSiebelSR">
      <soap12:operation soapAction="eBizAEU/CreateSiebelSR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivity">
      <soap12:operation soapAction="eBizAEU/CreateSiebelActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelActivityNew">
      <soap12:operation soapAction="eBizAEU/CreateSiebelActivityNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelActivity">
      <soap12:operation soapAction="eBizAEU/UpdateSiebelActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelActivity">
      <soap12:operation soapAction="eBizAEU/DeleteSiebelActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="eBizAEU/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="eBizAEU/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountBizGrp">
      <soap12:operation soapAction="eBizAEU/UpdateAccountBizGrp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfoByMyAdvantechProfile">
      <soap12:operation soapAction="eBizAEU/UpdateAccountInfoByMyAdvantechProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap12:operation soapAction="eBizAEU/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <soap12:operation soapAction="eBizAEU/GetContactInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactInfoBySiebelObj">
      <soap12:operation soapAction="eBizAEU/getContactInfoBySiebelObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews">
      <soap12:operation soapAction="eBizAEU/SubscribeENews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeENews2">
      <soap12:operation soapAction="eBizAEU/SubscribeENews2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeProduct">
      <soap12:operation soapAction="eBizAEU/SubscribeProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactInfoByMyAdvantechProfile">
      <soap12:operation soapAction="eBizAEU/UpdateContactInfoByMyAdvantechProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactJobTitle">
      <soap12:operation soapAction="eBizAEU/UpdateContactJobTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap12:operation soapAction="eBizAEU/CreateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunity">
      <soap12:operation soapAction="eBizAEU/UpdateOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatus">
      <soap12:operation soapAction="eBizAEU/UpdateOpportunityStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityStatusRevenue">
      <soap12:operation soapAction="eBizAEU/UpdateOpportunityStatusRevenue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import_Opportunity">
      <soap12:operation soapAction="eBizAEU/Import_Opportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiebelOpportunity">
      <soap12:operation soapAction="eBizAEU/CreateSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSiebelOpportunity">
      <soap12:operation soapAction="eBizAEU/UpdateSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSiebelOpportunity">
      <soap12:operation soapAction="eBizAEU/DeleteSiebelOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuote">
      <soap12:operation soapAction="eBizAEU/UpdateQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Siebel_WS">
    <wsdl:port name="Siebel_WSSoap" binding="tns:Siebel_WSSoap">
      <soap:address location="http://aeu-ebus-dev:7000/Services/Siebel_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Siebel_WSSoap12" binding="tns:Siebel_WSSoap12">
      <soap12:address location="http://aeu-ebus-dev:7000/Services/Siebel_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>