MyGlobal/App_WebReferences/AdvantechCoBrandingPartnerPortal/CoBrandingPartnerWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCoBrandingPartnerSitesByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCoBrandingPartnerSitesByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCoBrandingPartnerSitesByEmailResult" type="tns:ArrayOfPartnerListEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartnerListEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PartnerListEntity" nillable="true" type="tns:PartnerListEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartnerListEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:TableEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="partnerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="partnerID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="urlAdminSite" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="urlSite" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TableEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartitionKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RowKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="tns:DateTimeOffset" />
          <s:element minOccurs="0" maxOccurs="1" name="ETag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeOffset" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCoBrandingPartnerSitesByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetCoBrandingPartnerSitesByEmail" />
  </wsdl:message>
  <wsdl:message name="GetCoBrandingPartnerSitesByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetCoBrandingPartnerSitesByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="CoBrandingPartnerWebserviceSoap">
    <wsdl:operation name="GetCoBrandingPartnerSitesByEmail">
      <wsdl:input message="tns:GetCoBrandingPartnerSitesByEmailSoapIn" />
      <wsdl:output message="tns:GetCoBrandingPartnerSitesByEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoBrandingPartnerWebserviceSoap" type="tns:CoBrandingPartnerWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoBrandingPartnerSitesByEmail">
      <soap:operation soapAction="http://tempuri.org/GetCoBrandingPartnerSitesByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoBrandingPartnerWebserviceSoap12" type="tns:CoBrandingPartnerWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCoBrandingPartnerSitesByEmail">
      <soap12:operation soapAction="http://tempuri.org/GetCoBrandingPartnerSitesByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoBrandingPartnerWebservice">
    <wsdl:port name="CoBrandingPartnerWebserviceSoap" binding="tns:CoBrandingPartnerWebserviceSoap">
      <soap:address location="http://advantechcobrandingpartnerportal.azurewebsites.net/CoBrandingPartnerWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CoBrandingPartnerWebserviceSoap12" binding="tns:CoBrandingPartnerWebserviceSoap12">
      <soap12:address location="http://advantechcobrandingpartnerportal.azurewebsites.net/CoBrandingPartnerWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>